body{
    border: 1px black solid ;
    margin: 0;
    padding: 0;
}
div{
    border: 1px red solid;
    padding: 10px;
    margin: 10px;
}
span{
    margin: 0;
    padding: 0;
}
.box{
    width: 300px;
    height: 100px;
}
.min{
    min-width: 100px;
    min-height: 10px;
}
.max{
    max-width: 200px;
    max-height: 40px;
}
.center{
    width: 300px;
    margin: auto;
}
.inline-center{
    text-align: center;
}
.clear{
    clear: both;
}