body{
    color: black;
}
.FB-color{
    color: rgb(142,48,131);
}

.GG-color{
    color: rgb(242,61,46);
}

.YH-color{
    color: rgb(248,166,42);
}

.h1-color{
    color: #68F216;
}

.h1-art-color{
    color: #F57E4E;
}

.ol-color{
    color: #F14896;
}

#black-color{
    color: black;
}

.FT-yel-color{
    color: #BF9020;

}